.left{
    width:1fr;
    padding-top:30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 35px;
    border: 1px solid sandybrown;
}
.asideLogo {
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 12.31px;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
     display: flex;
     justify-content: center;
    align-items: center;
    gap:8px;
}